<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYTEM "htpp">


<suite name="Suite" verbose="10" configfailurepolicy="skip">
<!--    <listeners>-->
<!--&lt;!&ndash;        <listener class-name="runner.NGTestListener">&ndash;&gt;-->

<!--        </listener>-->
<!--    </listeners>-->
    <test name="Complete test run">
        <classes>
            <class name="runner.TestRunner">

            </class>
        </classes>

    </test>
</suite>


